<h2>Información de mi perfil</h2>

    <hr>
<div class="account-page">
  

      <div class="photo">
        <div class="photo-container">
          <img class="foto-perfil" [src]="photo ?? 'https://i.pravatar.cc/500?u=mariadelcarmen.herreravillanueva@peticiones.online'" alt="Foto de perfil:">
          <input type="file" (change)="cambiarFoto($event)">
        </div>
      </div>
      <div class="name">
      <div class="user-details-container">
        <p>Nombre: <input [(ngModel)]="name"></p>
        <p>Apellidos: <input [(ngModel)]="lastname"></p>
        <p>Email: <input [(ngModel)]="email"></p>
        <p>
          Contraseña actual:
          <input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="password">
          <button (click)="passwordVisible = !passwordVisible">
            <i *ngIf="passwordVisible" class="fa-solid fa-eye-slash"></i>
            <i *ngIf="!passwordVisible" class="fa-solid fa-eye"></i>
          </button>
          <button (click)="cambiarpassword = !cambiarpassword">Cambiar contraseña</button>
        </p>
        <div *ngIf="cambiarpassword">
          <label>Nueva contraseña: 
            <input [type]="newPasswordVisible ? 'text' : 'password'" #newPassword>
            <button (click)="newPasswordVisible = !newPasswordVisible">
              <i *ngIf="newPasswordVisible" class="fa-solid fa-eye-slash"></i>
              <i *ngIf="!newPasswordVisible" class="fa-solid fa-eye"></i>
            </button>
          </label>          
        </div>
        <button (click)="guardarCambios()">Guardar cambios</button>
      </div>
    </div>
</div>