<div class="footer">
    <div class="footer-content">
        <div class="about-more">
            <a [routerLink]="['/welcome']"> <img
                    src="https://thumbs.dreamstime.com/b/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available-236105299.jpg"
                    alt="logo">
            </a>
        </div>
        <div class="about-account">
            <h4>Account</h4>
            <a [routerLink]="['/login']">Login</a>
            <a [routerLink]="['/register']">Register</a>
            <a [routerLink]="['/register']">Restablecer contraseña </a>
            <a [routerLink]="['/groups']">Configuración</a>
            <a [routerLink]="['/groups']">Pedro</a>
        </div>
        <div class="footer-about">
            <h3>Account</h3>
            <a [routerLink]="['/about']">Sobre Nostros</a>
            <h4>Integrantes</h4>
            <a [routerLink]="['/groups']">Victor Gomez</a>
            <a [routerLink]="['/groups']">Victor Luque</a>
            <a [routerLink]="['/groups']">Cristian </a>
            <a [routerLink]="['/groups']">Pedro</a>
        </div>
        <div class="about-more">
            <h3>Más</h3>
            <a [routerLink]="['/groups']">Contacto</a>
            <a [routerLink]="['/groups']">FAQ</a>
            <a [routerLink]="['/groups']">Cristian </a>
            <div class="xxss">
                <a href="">Instagram</a>
                <a href="">twitter</a>
                <a href="">Facebook</a>
            </div>
        </div>
    </div>
</div>