<button [routerLink]="['/groups']">
    <div class="line-color-red"></div>
    <div class="name-group">Despedida de soltero</div>
</button>
<button>
    <div class="line-color-red"></div>
    <div class="name-group">Fin de año</div>
</button>
<button>
    <div class="line-color-yellow"></div>
    <div class="name-group">Aniversario</div>
</button>
<button>
    <div class="line-color-green"></div>
    <div class="name-group">Vacaciones de verano</div>
</button>
<button>
    <div class="line-color-yellow"></div>
    <div class="name-group">Fiesta de cumpleaños</div>
</button>
<button>
    <div class="line-color-red"></div>
    <div class="name-group">Aventura en la selva</div>
</button>
<button>
    <div class="line-color-yellow"></div>
    <div class="name-group">Viaje a la montaña</div>
</button>
<button>
    <div class="line-color-green"></div>
    <div class="name-group">Tour gastronómico</div>
</button>
<button>
    <div class="line-color-red"></div>
    <div class="name-group">Excursión</div>
</button>

