.group-section {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 30px;
    width: fit-content;
    gap: 20px;
    color: #123553;
    background-color: white;
}

.group-header {
    display: flex;
    justify-content: space-between;
}

.btn-close-popup {
    position: relative;
    top: -15px;
    right: -15px;
    color: #123553;
    cursor: pointer;
    font-size: medium;
    font-weight: 800;
    border: none;
    background-color: transparent;
}

.btn-close-popup:hover {
    transform: scale(1.4);
}

h2 {
    margin: 0;
}

.group-form {
    display: flex;
    gap: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form-label {
    font-size: large;
}

.form-input {
    border: none;
    border-color: #123553;
    position: relative;
}

.form-input:focus {
    outline: none;
}

.form-textarea {
    resize: none;
    border-radius: 5px;
    height: 80px;
    border: none;
    background-color: #d6e6e6;
    padding: 0.2rem;
    font-size: small;
    outline: none;
    overflow-y: hidden;
}

.btn-add {
    position: absolute;
    right: 0;
    top: 35px;
    cursor: pointer;
    background-color: #d6e6e6;
    font-size: medium;
    font-weight: 600;
    color: #123553;
}

.btn-add,
.btn-remove {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: small;
}

.btn-remove {
    color: #a51c1c;
}

.btn-add:hover,
.btn-remove:hover {
    transform: scale(1.4);
}

.dropdown {
    max-height: 200px;
    overflow-y: auto;
}

.members-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: small;
}

.participants-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.participants-header {
    display: flex;
}

ul {
    margin-top: 0;
    padding: 0;
}

li {
    font-size: x-small;
    list-style-type: none;
    justify-content: baseline;
    padding-left: 0.3rem;
}

.form-submit {
    cursor: pointer;
    height: 1.5rem;
    width: 130px;
    border-radius: 5px;
    background-color: #d6e6e6;
    font-size: medium;
    font-weight: 600;
    border: none;
    color: #123553;
}

.form-submit:hover {
    background-color: #123553;
    color: #d6e6e6;
    transform: scale(1.05);
    box-shadow: 0 4px 16px #123553;
}

@media (max-width: 460px) {
    .group-section {
        width: 360px;
        padding: 20px;
        border-radius: 30px;
    }

    .group-form{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 390px) {
    .group-section {
        width: 280px;
    }

}
