h4 {
    text-align: center;
}

.accordion {
    max-width: 800px;
    margin: auto;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
}

.accordion-item.active .accordion-content {
    max-height: 600px;
}

.accordion-header {
    font-style: italic;
    cursor: pointer;
    border-bottom: solid 1px black;

}