
 <body>
    <div class="container">
       <div class="title">
          Login Form
       </div>
       <form action="#">
          <div class="field">
             <input type="text" required>
             <label>Email Address</label>
          </div>
          <div class="field">
             <input type="password" required>
             <label>Password</label>
          </div>
          <div class="content">
             <div class="checkbox">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Recuerdame</label>
             </div>
             <div class="pass-link">
                <a [routerLink]="['/recover']">¿Contraseña olvidada?</a>
             </div>
          </div>
          <div class="field">
             <input type="submit" value="Login">
          </div>
          <div class="signup-link">
             ¿No eres miembro? <a [routerLink]="['/register']">Registrate</a>
          </div>
       </form>
    </div>
 </body>