
<body>
    <div class="container">
       <div class="title">
          Register Form
       </div>
       <form action="#">
        <div class="field">
            <input type="text" required>
            <label>Nombre</label>
         </div>
         <div class="field">
            <input type="text" required>
            <label>Apellido</label>
         </div>
          <div class="field">
             <input type="text" required>
             <label>Email Address</label>
          </div>
          <div class="field">
             <input type="password" required>
             <label>Password</label>
          </div>
          <div class="field">
             <input type="submit" value="Registrate">
          </div>
          <div class="signup-link">
             ¿Ya estas registrado? <a [routerLink]="['/login']">Log in</a>
          </div>
       </form>
    </div>
 </body>