span {
    display: flex;
}

span::after {
    content: "|";
    display: block;
}

.banner-img {
    display: flex;
}

.banner-img img {
    margin: auto;
    width: 100%;
    max-width: 300px;
}

.register {
    background-color: rgba(0, 123, 255, 0.4);
    color: white;
}



@media only screen and (min-width: 1025px) {
    .banner {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin: 0px 3rem;

    }


    .banner-content {
        width: 70%;
        margin: auto;
    }



    .banner-img img {
        max-width: 500px;
    }
}