span {
    display: flex;
}

.banner-content {
    width: 70%;
    margin: auto;
    text-align: center;

}

span::after {
    content: "|";
    display: block;
}

.banner-img {
    display: flex;
}

.banner-img img {
    margin: auto;
    width: 100%;
    max-width: 300px;
}

.register {
    background-color: var(--primary);
    color: white;
}

.nav-li {
    margin-bottom: 50px;
}

.banner-content .palabras {
    justify-content: center;
}

@media only screen and (min-width: 1025px) {
    .banner {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        background-image: url('../../../assets/banner-home/banner-desktop.webp');
        background-size: 100%;
        background-repeat: no-repeat;
        height: 100vh;

    }

    .banner-content {
        text-align: left;
        color: black !important;
        background: rgba(255, 255, 255, 0.4);
        padding: 30px;
    }


    .banner-content h1 {
        color: black !important;
    }

    .banner-content .palabras {
        justify-content: flex-start;
    }


    .banner-img img {
        display: none;
    }
}