<div class="mini-group" [ngStyle]="{'background-color': miniGroupColor}">
    <div class="header-group">
        <div class="date">{{miGroup.date}}</div>
        <button class="btn-settings">
            <img class="settings" src="../../../assets/icons/menu-puntos-vertical.svg" alt="">
        </button>
    </div>
    <button class="btn-group-name" [routerLink]="['/group']"><span>{{miGroup.title}}</span></button>
    <div class="progress-section">
        <div class="group-accounts">Cuentas</div>
        <div class="progress-bar" [ngStyle]="{'background-color': progressBarColor, 'width.%': value}"></div>
    </div>
    <div class="group-user">
        <img class="icon-user-1" src="../../../assets/icons/account-blue.png" alt="">
        <img class="icon-user-2" src="../../../assets/icons/account-red.png" alt="">
        <div class="user-actions">
            <span class="total-users-group">+9</span>
            <button class="btn-add-user-group" [ngStyle]="{'background-color': addUserButtonColor}">+</button>
        </div>
    </div>
</div>
